body {
  --color1: rgba(56, 61, 59, 1);
  --color2: rgba(35, 87, 137, 1);
  --color3: rgba(107, 129, 140, 1);
  --color4: rgba(241, 191, 152, 1);
  --color5: rgba(238, 229, 233, 1);
  font-family: sans;
  background-color: var(--color3);
  padding: 0;
  margin: 0;
}

section {
  background-color: #fff;
  padding: 1em 2em;
  margin: 1em auto;
  border-radius: 3px;
  max-width: 1000px;
  box-sizing: border-box;
  box-shadow: 0 0 40px rgba(40, 48, 53, 0.52);
  color: var(--color1);
}

a {
  color: var(--color2);
}

header {
  box-sizing: border-box;
  margin: 1em auto;
  border-radius: 3px;
  max-width: 1000px;
  color: var(--color5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
